body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group{
  margin: 20px 0px;
}

svg {
  height: 150px
}

.trailComponent {
  margin-left: 70px;
  margin-top: 40px;
}
